/*******************   GENERAL STYLES *******************/
body {
  background-color: #050606;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin:0;
}

h2 {
  color: #00B4C3;
}

/************************ LASERS ************************/





.laser-beam {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 3px;
  height: 500%;
  background: rgba(99,195,231,0.6);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(99,195,231,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(99,195,231,1);
  box-shadow: 0px 0px 15px 0px rgba(99,195,231,1);
  @include transform-origin(0, 100%);
  -webkit-animation: laser 7s infinite;
  
  &.red {
    -webkit-animation: laser 7.5s infinite;
    background: rgba(236,19,65,0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(236,19,65,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(236,19,65,1);
    box-shadow: 0px 0px 15px 0px rgba(236,19,65,1);
  }
  
  &.purple {
    -webkit-animation: laser 7.3s infinite;
    background: rgba(204, 102, 255, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(204, 102, 255,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(204, 102, 255,1);
    box-shadow: 0px 0px 15px 0px rgba(204, 102, 255,1);
  }
  
  &.green {
    -webkit-animation: laser 7.7s infinite;
    background: rgba(86, 212, 69, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 212, 69,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(86, 212, 69,1);
    box-shadow: 0px 0px 15px 0px rgba(86, 212, 69,1);
  }
}

@-webkit-keyframes laser {
  0%  { @include rotateZ(-75deg); }
  50% { @include rotateZ(75deg); }
  100% { @include rotateZ(-75deg); }
}

/**********************   NAVBAR  ***********************/
.navbar {
  display:grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 3fr;
  font-size:.8em;
  width: 115%;
  height: 50px;
  background-color: transparent;
  position: absolute;

} 

.navItems {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navItems1 {
  border: 3px solid transparent;
  justify-content: flex-end;

}

.navuser {
font-family: 'Aqua Grotesque';
  color: white;
   display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}
.navguest {
font-family: 'Edo SZ';
  color: red;
   display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

}
.navsnipers {
font-family: 'Aqua Grotesque';
  color: white;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navsnipers {
font-family: 'Aqua Grotesque';
  color: white;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navsnipers {
font-family: 'Aqua Grotesque';
  color: white;
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navminers {
font-family: 'Aqua Grotesque';
  color: white;
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navtanks {
 font-family: 'Aqua Grotesque';
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navshop {
  font-family: 'Aqua Grotesque';
  color: #1CFF36;
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
      height: 55px;
}
.navcoins {
  font-family: 'Aqua Grotesque';
  color: white;
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  

}

.number1 {
color: #FF9B04;
}

.number2 {
color: #FF24AA;
}

.number3 {
color: #1CFF36;
}

.number4 {
color: #FF0000;
}

.number5  {
color: #00FFE2;
}

.navcoincolor {
  color: #00CDDE;
}

/**********************   CIRCLE  ***********************/

.circle {
  width: 30px;
  margin: 2% 2%;
  height: 30px;
  border:1px solid red;
  border-radius:50%;
  background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1569508845/zolzar_images/minersmall_uhjlda.png')
 
}

/**********************  BUTTON ***********************/

.bluebelle {
  display:flex;
  align-items:center;
  height: 100vh;
  justify-content: center;
  font-size:1em;
  color:#00b4c3;
  font-size:30; 
  font-family:Aqua Grotesque; 
  font-weight:500;
}

.redbelle {
  display:flex;
  align-items:center;
  height: 100vh;
  justify-content: center;
  font-size:1em;
  color:red;
  font-size:30; 
  font-family:Aqua Grotesque; 
  font-weight:500;
}

.pinkbelle {
  display:flex;
  align-items:center;
  height: 100vh;
  justify-content: center;
  font-size:1em;
  color:#DE0066;
  font-size:30; 
  font-family:Aqua Grotesque; 
  font-weight:500;
}



/**********************   LANDING  ***********************/

.register {
  color: white;
  background-color: #060605;
  padding: 0;
  border: none;
  font-family: 'Aqua Grotesque';
  display:block;
  border: 1px solid white;
  margin:5;
  width:100%;
  padding:1em 1em 1em 1em;
      margin: 50px;
    }

.loginbuttonstyles {
  color: white;
  background-color: #060605;
  padding: 0;
  border: none;
  font-family: 'Aqua Grotesque';
  display:block;
  border: 1px solid white;
  margin:5;
  width:100%;
  padding:1em 1em 1em 1em;
    

}

.father2 {

      width: 23%;
    height: 110vh;
    display: flex;
    position: absolute;
    left: 700px;
    bottom: 49px;
}

.father {
width: 50%;
    height: 100;
    display: contents;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
  }

.app {
  width:40%;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth_inputs {
  width : 80%;
  margin: 5% 10%;
  height: 45px;
}

.App {
  background-color: #101010;
  height: 100vh;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

/**********************  LOGIN/LANDING/HEADERS ***********************/

.form_container {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #060505;
    height: 50vh
}

.battlefields {
   font-family:Aqua Grotesque; 
}

.redhead {
  width: 100%;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:Aqua Grotesque;
  color:#c03;


}

.redlinks {
    font-family: 'Aqua Grotesque';
  color: red;
  font-size: 11px;

}

.links {  
  font-family: 'Aqua Grotesque';
  color: #00b4c4;
  font-size: 11px;
  cursor: crosshair;
}
  .guestlinks {  
  font-family: 'Aqua Grotesque';
  color: red;
  
  
}

/* unvisited link */
a:link {
  color: #00CDDE;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #00CDDE;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #135662;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #135662;
  text-decoration: none;
}

.links_container {
   width: 80%;
   margin: 0 10%;
   display: flex;
   flex-direction : column;
   font-size: 0.7em;
   padding:1em;
   justify-content: space-around;
}

/********************** LET'S PLAY ***********************/

.letsplay {
  color: #00b4c4;
    position: absolute;
    top: 40%;
  animation-duration: 2s;
  animation-name: bounceIn;
}

.letsplay2 {
  color: #00b4c4;
  animation-duration: 2s;
  animation-name: bounceIn;
  margin-top: 2%;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


/********************** LET'S ROLL ***********************/


@keyframes spin {

    0% { transform: translateZ(0px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
 
 
}


@keyframes roll {

    1% { transform: translate3d(0px,0,0px) }
}
#roll:checked ~ #platform > #dice {
    animation: spin .4s infinite linear;
}


#wrapper {
    position: relative;
    width: 50px;
    padding-top: 50px;
    margin: 0 auto;
    perspective: 600px;
}
#platform {
  margin-top:20px;
}

#dice {
    position: absolute;
    width: 60px;
    height: 10px;
    transform-style: preserve-3d;
    animation: spin 3s infinite linear;
}
.side {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #FF9904;
    box-shadow:inset 0 0 40px #B26500;
    border-radius: 40px;
}
#dice .cover, #dice .inner {
    background: #B26500;
    box-shadow: none;
}
#dice .cover {
    border-radius: 0;
    transform: translateZ(0px);
}
#dice .cover.x {
    transform: rotateY(0deg);
}
#dice .cover.z {
    transform: rotateX(90deg);
}
#dice .front  {
    transform: translateZ(100px);
}
#dice .front.inner  {
    transform: translateZ(98px);
}
#dice .back {
    transform: rotateX(-180deg) translateZ(100px);
}
#dice .back.inner {
    transform: rotateX(-180deg) translateZ(98px);
}
#dice .right {
    transform: rotateY(90deg) translateZ(100px);
}
#dice .right.inner {
    transform: rotateY(90deg) translateZ(98px);
}
#dice .left {
    transform: rotateY(-90deg) translateZ(100px);
}
#dice .left.inner {
    transform: rotateY(-90deg) translateZ(98px);
}
#dice .top {
    transform: rotateX(90deg) translateZ(100px);
}
#dice .top.inner {
    transform: rotateX(90deg) translateZ(98px);
}
#dice .bottom {
    transform: rotateX(-90deg) translateZ(100px);
}
#dice .bottom.inner {
    transform: rotateX(-90deg) translateZ(98px);
}


.dot {
    position:absolute;
    width:46px;
    height:46px;
    border-radius:23px;
    background:#232323;
    box-shadow:inset 5px 0 10px #000;
}
.dot.center {
    margin:77px 0 0 77px;
}
.dot.dtop {
    margin-top:20px;
}
.dot.dleft {
    margin-left:134px;
}
.dot.dright {
    margin-left:20px;
}
.dot.dbottom {
    margin-top:134px;
}
.dot.center.dleft {
    margin:77px 0 0 20px;
}
.dot.center.dright {
    margin:77px 0 0 134px;
}

#background {
  position:fixed;
  z-index:-1;
  width:100%;
  height:100%;
  background: #071a1e;
  background: -moz-linear-gradient(top, #071a1e 0%, #274249 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#071a1e), color-stop(100%,#274249));
  background: -webkit-linear-gradient(top, #071a1e 0%,#274249 100%);
  background: linear-gradient(to bottom, #071a1e 0%,#274249 100%);
}
label, input[type=checkbox]:before {
  /* position: absolute; */
  overflow:hidden;
  top:40px;
  left:40px;
  display:block;
  width:120px;
  padding-top:9px;
  padding-bottom: 9px;
  cursor:crosshair;
  text-align:center;
  font-size:1.2em;
  font-weight:bold;
  color:#fff;

    margin: 30px;
}
input[type=checkbox]:before {
  background:transparent;
  border-color:transparent;
}
input[type=checkbox] {
  display:none;
}
label {
  opacity:15.5;
  transition:all .3s ease;
}
label:hover {
  opacity:1;
  box-shadow:0 0 18px rgba(255,255,255,.5);
}
label[for=roll] {
  z-index:1;
  text-shadow:0 -1px 0 #006699;
  border-color:#17C7EC;
  background: -moz-linear-gradient(top, #0099CC 0%, #006699 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099CC), color-stop(100%,#006699));
  background: -webkit-linear-gradient(top, #0099CC 0%,#006699 100%);
  background: linear-gradient(to bottom, #0099CC 0%,#006699 100%);
}
label[for=secondroll] {
  margin-top:-100px;
  text-shadow:0 -1px 0 #CC0033;
  border-color:#FF8298;
  background: -moz-linear-gradient(top, #FF6666 0%, #CC0033 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6666), color-stop(100%,#CC0033));
  background: -webkit-linear-gradient(top, #FF6666 0%,#CC0033 100%);
  background: linear-gradient(to bottom, #FF6666 0%,#CC0033 100%);
}
#roll:checked ~ label[for=roll] {
  margin-top:-100px;
}
#roll:checked ~ label[for=secondroll] {
  margin-top:0px;
}
#secondroll:checked ~ label[for=secondroll] {
  text-shadow:0 -1px 0 #336633;
  border-color:#232323;
  background: -moz-linear-gradient(top, #66CC66 0%, #336633 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66CC66), color-stop(100%,#336633));
  background: -webkit-linear-gradient(top, #66CC66 0%,#336633 100%);
  background: linear-gradient(to bottom, #66CC66 0%,#336633 100%);
}
#secondroll:checked ~ label[for=secondroll] span {
  display:none;
}
#secondroll:checked ~ label[for=secondroll]:after {
  content:"Keep rollin'!";
}


.roll_container {
  width: 100%;
  height: 160vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.letsrolltitle {
     color: #FF9904;
   font-size:35px; 
  font-family:Edo SZ;



}

.rollcontainer {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #060505;
    height: 100vh
}

.minify {
  width:150px;
  height:150px;
  justify-content: space-around;
}

.rollpictures {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

} 

.rollpicturessingle {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 20px;
}

.dicetitle {
  display:flex;
  flex-direction: row;
  align-items:center;
  height: 0vh;
  justify-content: center;
  font-size:3em;
  color:#FF9B04;
  font-size:50; 
  font-family:Aqua Grotesque; 
  font-weight:500; 
}

.dice {

  display:flex;
  flex-direction: row;
  align-items:center;
  height: 100vh;
  justify-content: center;
  font-size:2.5em;
  color:#FF9B04;
  font-size:50; 
  font-family:Aqua Grotesque; 
  font-weight:500;

}

/*.rolldice {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.dicesix {
    position: absolute;
    top: 80%;
    left: 55%;
    width: 100px;
    height: 100px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@keyframes spin {
    0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes spin-duplicate {
    0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(-100px) rotateX(1270deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(-100px) rotateX(180deg) rotateY(270deg) rotateZ(270deg); }
    83% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(720deg); }
}
@keyframes roll {
    0% { transform: translate3d(-200px,-50px,-400px) }
    12% { transform: translate3d(0px,0,-100px) }
    25% { transform: translate3d(200px,-50px,-400px) }
    37% { transform: translate3d(0px,-100px,-800px) }
    50% { transform: translate3d(-200px,-50px,-400px) }
    62% { transform: translate3d(0px,0,-100px) }
    75% { transform: translate3d(200px,-50px,-400px) }
    87% { transform: translate3d(0px,-100px,-800px) }
    100% { transform: translate3d(-200px,-50px,-400px) }
}
*/

/********************** AWARDS/FIGHT ***********************/

.award-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: #060505;
  height: 100vh;
}

.selUnits {
   display:grid;
  grid-template-rows:;
  align-items:center;
/*  height: 87vh;*/
  justify-content: center;
  font-size:1.5em;
  color:#FF9B04;
  width: 33.33%;

  font-size:12px; 
  font-family:Aqua Grotesque; 
  font-weight:500;
  align-items: center;
/*  background-size: cover; */
}

.selUnitFooter {
  display: flex;
    align-items:center;
  justify-content: center;
  color: white;
}

.whiteawarded {
    color: #FF9904;
   font-size:35px; 
  font-family:Aqua Grotesque;
  padding:0em 0 1em 0 ;
}

.whiteawarded2 {
    color: #FF9904;
   font-size:35px; 
  font-family:Aqua Grotesque;
  padding:1em 1em 1em 1em ;
  margin: 30px
}

.white{
  display: grid;
  grid-column: 1fr;
  color: #00CDDE;
  width:50%;
  height:50%;
   font-size:35px; 
  font-family:Aqua Grotesque;
  padding:0em 0 1em 0 ;
  justify-content: center

}

.whitefight{
  color: #FF9904;
   font-size:50px; 
  font-family:Aqua Grotesque; 
      padding: 1em 1em 1em 1em
}
.margin {
 padding: 1em 1em 1em 1em
} 



.awards_cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.awards_cont_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.awarded {
 display:grid;
  flex-direction: row;
  align-items:center;
  height: 100vh;
  justify-content: center;
  font-size:2.5em;
  color:#FF9B04;
  font-size:50; 
  font-family:Aqua Grotesque; 
  font-weight:500;
}

.unitresults {
  display:flex;
  flex-direction: row;
  align-items:center;
  height: 87vh;
  justify-content: center;
  font-size:.5em;
  color:white;
  font-size:30px; 
  font-family:Aqua Grotesque; 
  font-weight:500;
}

.fight {
   display:grid;
  flex-direction: row;
  align-items:center;
  height: 10vh;
  justify-content: center;
  font-size:1em;
  color:red;
  font-size:30; 
  font-family:Aqua Grotesque; 
  font-weight:500;
}

/**********************  ROUND ONE ***********************/



.mastergrid {

}

.lefttext {
font-family:Aqua Grotesque; 
color: white;
text-align: left;
padding:0 0 0 1em; 

}

.righttext {
font-family:Aqua Grotesque; 
color: white;
text-align: right;
padding:0 1em 0 0;

}

.leftpics {
  text-align: left;
  width: 100%;
  margin-top: 14%;
  padding-left: %;
}

.leftstills {
height:100px;
width:100px;
}

.rightpics {
  text-align: right;
  width: 100%;
  margin-top: 14%;

}

.rightstills {
height:100px;
width:100px;
}

.earthbackground {
background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1570395408/zolzar_images/earthbackgroundreserve_lwsex2.png');
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
display: grid;
grid-template-columns: 1fr 1fr;
}

/**********************  REPORT ONE ***********************/

.justifycenter {
width:100%;
height:100vh;
display: grid;
grid-template-columns: 1fr 1fr;

}

.rowone {
width:70%;
border:1px solid red;
padding:1em 1em 1em 1em;
}

.rowtwo {
width:70%;
border:1px solid green;
padding:1em 1em 1em 1em;
}


/**********************  ROUND TWO ***********************/

.moonbackground {
background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1569570683/zolzar_images/moon_gd2jto.png');
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
/*display:flex;
flex-direction:column;
align-items:center;
justify-content:center;*/
display: grid;
grid-template-columns: 1fr 1fr;
}

.fullwidthvideo {
  color: #000000;
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
}

/**********************  REPORT TWO ***********************/

.missionreportbackground {

background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1570378392/zolzar_images/missionreport_odemci.png');
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center; 
}

/*.missionreportbackground {
background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1569830524/missionreportbackground_dp2uhz.png');
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
opacity: 0.5;
}*/

/**********************  ROUND THREE ***********************/

.zolzarbackground {
background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1569570683/zolzar_images/zolzar_vjktph.png');
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
display: grid;
grid-template-columns: 1fr 1fr;
}

/**********************  PLAY VIDEO ***********************/

.playvideo {
background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1570140912/zolzar_images/missionaccomplished_bzf7u3.svg');
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
display: grid;
grid-template-columns: 1fr 1fr;
}

/**********************  VIDEO ***********************/

.videobackground {
background-color: black;
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;

}

.fixvideobutton {
    display: gird;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 300px;
    height: 100%;
    align-items: center;

}


.fixredvideobutton {
 display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; 

  }

.videogrid {
display: grid;
grid-column: 1fr 1fr
}


/**********************  GAME OVER ***********************/

.gameoverbackground {
background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1570140733/zolzar_images/missionaccomplished_zb99sq.svg');
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;

}

.copygrid {
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;
} 

.copyright {
width: 60%;
height:80%;
margin-top: 10%;

}

.copyleft {
width: 160%;
height: 100vh;

}

.turnbuttonlittle1 {
    height: 60px;
    width: 27%;
    position: absolute;
    bottom: 150px;
    left: 73px;
}

.turnbuttonlittle2 {
    height: 60px;
    width: 27%;
    position: absolute;
    bottom: 150px;
    left: 293px;
}

/**********************  CREATE ACCOUNT ***********************/

.App {
  background-color: #101010;
  height: 100vh;
  margin: 0;
  display:flex;
  justify-content: center;
}

.app { 
width: 40%;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/**********************  WRONG DETAILS ***********************/

.grid {
background: #050606;
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}


/**********************  ALREADY CLAIMED ***********************/

.alreadyclaimed {

}

/**********************  SUCCESS CLICK LINK ***********************/

.goto {
   color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:  0px;
}

.successclicklink {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 120px;
    height: 240px;
    margin:-60px 0 0 -60px;
   
}


/**********************  SHOP ***********************/
.location {
    
    height: 100px;
    font-size: 30px;
    color:#c03;
    padding:1em 1em 1em 1em;
    height: 40px;
   
}

.shoplogo {
    width: 25vh;
    justify-content: center;
    display: grid;
    justify-items: center;
    height: fit-content;
}

.shop {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  font-size:1em;
  width: 100%;
  height: 50%;
  background-color: transparent;
  position: inherit;

} 

/**********************  YOUVE SELECTED ***********************/

.youveselected {

}

/**********************  AWESOME COINS ***********************/

.coinsbackground {
background-image: url('https://res.cloudinary.com/ckellytv/image/upload/v1569594526/coinsbackground_qbabbu.png');
background-repeat: no-repeat;
background-size: cover; 
width:100%;
height:100vh;
/*display:flex;
flex-direction:column;
align-items:center;
justify-content:center;*/
}

.awesomecoins {
  display:flex;
  grid-template-rows: 1fr 1fr 1fr;
   font-size:1em;
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: inherit;
}


/**********************  PAY NOW ***********************/

.paynow {

}

/**********************  FAILTRYAGAIN ***********************/

.failtryagain {

}

/**********************  SUCCESSCONTINUE ***********************/

.successclicklink



/**********************  SUCCESSCHARACTERS ***********************/


.successcharacters{

}

/**********************  SUCCESSCHARACTERS ***********************/



