@import "compass/css3";

html {
  background: #222;
}

.laser-beam {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 3px;
  height: 500%;
  background: rgba(99,195,231,0.6);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(99,195,231,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(99,195,231,1);
  box-shadow: 0px 0px 15px 0px rgba(99,195,231,1);
  @include transform-origin(0, 100%);
  -webkit-animation: laser 7s infinite;
  
  &.red {
    -webkit-animation: laser 7.5s infinite;
    background: rgba(236,19,65,0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(236,19,65,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(236,19,65,1);
    box-shadow: 0px 0px 15px 0px rgba(236,19,65,1);
  }
  
  &.purple {
    -webkit-animation: laser 7.3s infinite;
    background: rgba(204, 102, 255, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(204, 102, 255,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(204, 102, 255,1);
    box-shadow: 0px 0px 15px 0px rgba(204, 102, 255,1);
  }
  
  &.green {
    -webkit-animation: laser 7.7s infinite;
    background: rgba(86, 212, 69, 0.6);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(86, 212, 69,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(86, 212, 69,1);
    box-shadow: 0px 0px 15px 0px rgba(86, 212, 69,1);
  }
}

@-webkit-keyframes laser {
  0%  { @include rotateZ(-75deg); }
  50% { @include rotateZ(75deg); }
  100% { @include rotateZ(-75deg); }
}